.container {
  width: 100%;
  height: 100vh;
  animation: changeBackgroundImage 15s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
.form-container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 150px 0 150px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
.button-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.btn{
  width: 100%;
}

@keyframes changeBackgroundImage {
  0% {
    background-image: url("images/denys-nevozhai-guNIjIuUcgY-unsplash.jpg");
  }
  25% {
    background-image: url("images/marten-bjork-wGu1pzDSm3g-unsplash.jpg");
  }
  50% {
    background-image: url("images/jake-blucker-tMzCrBkM99Y-unsplash.jpg");
  }
  75% {
    background-image: url("images/luca-bravo-O453M2Liufs-unsplash.jpg");
  }
  100% {
    background-image: url("images/ryan-spencer-XGKaRnWjv1c-unsplash.jpg");
  }
}
